.game {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 14.6rem 0 6rem;
  margin: 0 auto;

  @media (min-width: $stop-scaling) {
    padding: 146px 0 60px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 5.9rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 9rem 0 6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 5rem 0 1.5rem;
  }
}

.game__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.6rem;
  margin-bottom: 1.1rem;

  @media (min-width: $stop-scaling) {
    padding-left: 6px;
    margin-bottom: 11px;
  }

  @media (orientation: portrait) {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
}

.game__title {
  margin: 0;
  font-family: $font-alt;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  @media (min-width: $stop-scaling) {
    font-size: 48px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1.8rem;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.game__counter {
  margin: 0;
  font-family: $font-alt;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 0;

  @media (min-width: $stop-scaling) {
    font-size: 48px;
  }

  @media (min-width: $tablet) {
    margin-right: 5.6rem;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1.8rem;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.game__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.game__buttons {
  position: fixed;
  left: 0;
  z-index: 100;
  display: none;
  opacity: 0.5;
}

.game__button {
  display: block;
  margin: 0 30px 30px;
}
