.intro {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  padding: 15.5rem 0 10rem;

  @media (min-width: $stop-scaling) {
    padding: 155px 0 100px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 6rem 0 5.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 16vh 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 16vh 0 5vh;
  }
}

.intro__title,
.intro__date {
  .word-wrapper {
    margin-top: -2%;
  }

  .letter {
    padding-top: 2%;
    transition-delay: 1.35s;
    transition-property: transform;
    transform: translate3d(0, 110%, 0);
    will-change: transform;
  }

  .screen.active &.active {
    .letter {
      transform: translate3d(0, 0, 0);
    }
  }
}

.intro__title {
  $intro-title: &;

  padding-top: 2rem;
  margin: 0;
  font-family: $font-alt;
  font-size: 12rem;
  font-weight: 400;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  @media (min-width: $stop-scaling) {
    max-width: 1000px;
    font-size: 120px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    max-width: 100%;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    font-size: 10rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 5rem;
  }
}

.intro__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 6.3rem;

  @media (min-width: $stop-scaling) {
    padding-left: 63px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    justify-content: flex-start;
    padding-left: 2.5rem;
  }
}

.intro__info {
  flex: none;
  width: 50rem;
  max-width: 50%;

  @media (min-width: $stop-scaling) {
    width: 500px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }
}

.intro__message {
  $element-name: getClassName(#{&});

  @include slide($dir: down, $value: 35px, $name-prefix: $element-name);

  flex: none;
  width: 50.9rem;
  max-width: 50%;
  font-size: 2.4rem;
  line-height: 1.27;
  text-transform: uppercase;
  animation-name: none;
  animation-duration: 0.5s, 0.15s;
  animation-delay: 0.75s, 0.75s;
  animation-fill-mode: both;

  .screen.active & {
    animation-name: #{$element-name}_slideDown, fadeIn;
  }

  @media (min-width: $stop-scaling) {
    width: 509px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    width: 100%;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 100%;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  p {
    margin: 0;
  }

  svg {
    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 16px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 1.1rem;
      height: 1.1rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}

.intro__label {
  max-width: 25rem;
  margin: 0 0 1.6rem;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  animation-name: none;
  opacity: 0;
  animation-duration: 0.75s;
  animation-delay: 1.15s;
  animation-fill-mode: both;

  .screen.active & {
    animation-name: fadeIn;
  }

  @media (min-width: $stop-scaling) {
    width: 250px;
    margin: 0 0 16px;
    font-size: 24px;
  }
}

.intro__date {
  margin: 0 0 0 -0.5rem;
  font-family: $font-alt;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.02em;

  @media (min-width: $stop-scaling) {
    margin: 0 0 0 -5px;
    font-size: 48px;
  }
}
