.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2.7rem 0;
  z-index: 10;

  @media (min-width: $stop-scaling) {
    padding: 27px 0;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0.9rem 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0.9rem 0;
  }
}

.page-header__wrapper {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  $component-name: #{str-slice(#{&}, 2)};

  @include slide($dir: left, $value: 15px, $name-prefix: $component-name);
  @include hover;

  position: relative;
  flex: none;
  top: -0.5rem;
  padding: 1rem 0;
  width: 10rem;
  color: $c-light;
  opacity: 0;
  animation-name: #{$component-name}_slideLeft, fadeIn;
  animation-duration: 0.5s, 0.75s;
  animation-fill-mode: forwards;
  animation-play-state: paused;

  .is-loaded & {
    animation-play-state: running;
  }

  @media (min-width: $stop-scaling) {
    top: -5px;
    padding: 10px 0;
    width: 113px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    top: 0;
    padding: 0.5rem 0;
    width: 6.8rem;
    z-index: 1;

    .page-header--menu-opened & {
      color: $c-dark;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    top: 0;
    padding: 0.5rem 0;
    width: 6.8rem;
    z-index: 1;

    .page-header--menu-opened & {
      color: $c-dark;
    }
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.page-header__toggler {
  $component-name: #{str-slice(#{&}, 2)};

  @include btn-reset;
  position: relative;
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0;
  background-color: $c-light;
  border-radius: 50%;
  z-index: 1;
  animation-name: #{$component-name}_slideUp;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.52, -0.11, 0.42, 1.54);
  animation-fill-mode: forwards;
  animation-play-state: paused;

  .is-loaded & {
    animation-play-state: running;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    .is-loaded & {
      display: block;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    .is-loaded & {
      display: block;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0.8rem;
    height: 1px;
    background-color: $c-dark;
  }

  &::before {
    top: 0.9rem;
    width: 1rem;
    box-shadow: 0 0.6rem 0 0 $c-dark;
  }

  &::after {
    top: 1.2rem;
    width: 0.7rem;
  }

  .page-header--menu-opened & {
    &::before,
    &::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      width: 2.6rem;
      height: 2px;
      box-shadow: none;
    }

    &::after {
      transform: translate(-50%) rotate(-45deg);
    }
  }

  @keyframes #{$component-name}_slideUp {
    from {
      transform: scale(0);
    }

    85% {
      transform: scale(1.15);
    }

    to {
      transform: scale(1);
    }
  }
}

.page-header__nav {
  display: flex;
  align-items: center;

  @media (max-width: $tablet) and (orientation: portrait) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 3.5rem;
    color: $c-dark;
    background-color: $c-light;

    .page-header--menu-opened & {
      transform: translateX(0);
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 3.5rem;
    max-height: calc(var(--vh, 1vh) * 100);
    color: $c-dark;
    background-color: $c-light;
    overflow-y: auto;

    .page-header--menu-opened & {
      transform: translateX(0);
    }
  }
}

.page-header__menu {
  font-family: $font-alt;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.0418;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    font-size: 12px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin: auto 0;
    font-size: 2.4rem;
    color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0;
    font-size: 1.4rem;
    color: $c-dark;
  }

  ul {
    @include list-reset;
    display: flex;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.52, -0.11, 0.42, 1.54);
    animation-play-state: paused;

    .is-loaded & {
      animation-play-state: running;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 3.8rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 2rem;
    }
  }

  li {
    margin-left: 4rem;

    @media (min-width: $stop-scaling) {
      margin-left: 40px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 0 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 0 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    position: relative;
    display: block;
    color: inherit;
    padding: 0 0.5em 0.5em;
    transition: $transition;
    transition-property: color;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: $c-light;
      opacity: 0;
      transition: $transition;
      transition-property: opacity, width, background-color;

      @media (max-width: $tablet) and (orientation: portrait) {
        background-color: $c-dark;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        background-color: $c-dark;
      }
    }

    &:hover,
    &:focus {
      outline: none;

      &:not(.active) {
        @media (min-width: $tablet) {
          color: $c-purple;
        }
      }

      &::after {
        @media (min-width: $tablet) {
          background-color: $c-purple;
        }
      }
    }

    &:hover,
    &:focus,
    .is-loaded &.active {
      &::after {
        left: 0;
        right: auto;
        width: 100%;
        opacity: 1;
      }
    }

    .is-loaded &.active {
      &::after {
        background-color: $c-light;

        @media (max-width: $mobile) {
          background-color: $c-dark;
        }
      }
    }
  }
}

.page-header__social {
  margin-left: 4.8rem;

  @media (min-width: $stop-scaling) {
    margin-left: 48px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-left: 0;
    width: 100%;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-left: 0;
    width: 100%;
  }
}
