.prizes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 14.6rem 0 7.7rem;
  overflow: hidden;

  @media (min-width: $stop-scaling) {
    padding: 146px 0 65px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 5.9rem 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 9rem 0 6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 5rem 0 1.5rem;
  }
}

.prizes__title {
  margin: 0 0 6rem;
  font-family: $font-alt;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  .word-wrapper {
    margin-top: -2%;
  }

  .letter {
    padding-top: 2%;
    transform: translate3d(0, 110%, 0);
    will-change: transform;
  }

  .screen.active &.active {
    .letter {
      transform: translate3d(0, 0, 0);
    }
  }

  @media (min-width: $stop-scaling) {
    font-size: 48px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-bottom: 1.8rem;
    font-size: 3.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

.prizes__lead {
  max-width: 34rem;
  margin-bottom: -5.6rem;
  margin-left: 5.8rem;
  font-size: 2.4rem;
  line-height: 1.2;
  text-transform: uppercase;

  @media (min-width: $stop-scaling) {
    max-width: 340px;
    margin-bottom: -56px;
    margin-left: 58px;
    font-size: 24px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    max-width: 22rem;
    margin-bottom: 3.2rem;
    margin-left: 2.5rem;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 2rem;
    font-size: 2rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    max-width: 20rem;
    font-size: 1.4rem;
  }

  p {
    margin: 0;
  }
}

.prizes__list {
  @include list-reset;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: auto;

  @media (max-width: $tablet) and (orientation: portrait) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 2rem;
    margin: auto 0;
  }
}

.prizes__item {
  $prizes-item: &;
  $delay: 0.65s;
  $items-count: 3;
  margin-left: 7.5rem;
  animation-name: none;
  will-change: transform;

  @for $i from 1 through $items-count {
    &:nth-of-type(#{$i}) {
      animation-delay: $delay * $i, $delay * $i;
    }
  }

  &--journeys {
    $element-name: getClassName(#{&});

    @include slide(right, 100%, $element-name);
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

    .screen--prizes & {
      animation-name: #{$element-name}_slideRight;
    }
  }

  &--cases {
    $element-name: getClassName(#{&});

    @include slide(right, 85px, $element-name);
    animation-name: none;
    animation-duration: 0.35s, 0.35s;
    animation-fill-mode: both, forwards;
    animation-timing-function: linear, ease-in-out;

    .screen--prizes & {
      animation-name: fadeIn, #{$element-name}_slideRight;
    }
  }

  &--codes {
    $element-name: getClassName(#{&});

    @include slide(right, 85px, $element-name);
    animation-name: none;
    animation-duration: 0.35s, 0.35s;
    animation-fill-mode: both, forwards;
    animation-timing-function: linear, ease-in-out;

    .screen--prizes & {
      animation-name: fadeIn, #{$element-name}_slideRight;
    }
  }

  @media (min-width: $stop-scaling) {
    margin-left: 75px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2.8rem;
    margin-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-left: 5rem;
  }

  &--journeys {
    .prizes__icon {
      position: relative;
      bottom: -1.4rem;
      left: -5.9rem;
      width: 26.8rem;

      @media (min-width: $stop-scaling) {
        bottom: -14px;
        left: -59px;
        width: 268px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        bottom: 0;
        left: 0;
        width: 9.4rem;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        left: -2rem;
        width: 13rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        width: 10rem;
      }
    }
  }

  &--cases {
    margin-left: 7rem;

    @media (min-width: $stop-scaling) {
      margin-left: 70px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      padding-left: 1.5rem;
      margin-left: 0;
    }

    .prizes__icon {
      width: 18.8rem;

      @media (min-width: $stop-scaling) {
        width: 188px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        width: 10.21rem;
        margin-right: 1.3rem;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        width: 9.5rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        width: 7rem;
      }
    }
  }

  &--codes {
    @media (max-width: $tablet) and (orientation: portrait) {
      padding-left: 0.8rem;
    }

    .prizes__icon {
      width: 26rem;

      @media (min-width: $stop-scaling) {
        width: 260px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        width: 8.66rem;
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        width: 13rem;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        width: 10rem;
      }
    }
  }
}

.prizes__icon {
  @media (max-width: $tablet) and (orientation: portrait) {
    margin-right: 3.8rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.prizes__desc {
  $prizes-item: &;
  $element-name: getClassName(#{&});

  display: flex;
  align-items: flex-end;
  margin: 5.6rem 0 0 0;
  font-size: 1.8rem;
  line-height: 1.1;

  @media (min-width: $stop-scaling) {
    margin-top: 56px;
    font-size: 18px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: -0.5rem;
    margin-left: 0;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    margin-top: 3rem;
    font-size: 1.1rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 0.8rem;
  }

  b {
    font-family: $font-alt;
    font-size: 12rem;
    font-weight: 400;
    line-height: 0.55;
    animation-name: none;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    .screen--prizes & {
      animation-name: fadeIn;
    }

    @media (min-width: $stop-scaling) {
      font-size: 120px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      font-size: 4.8rem;
      line-height: 0.6;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      font-size: 6rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      font-size: 3.5rem;
    }
  }

  span {
    @include slide(right, 85px, $element-name);
    display: flex;
    align-items: flex-end;
    max-width: 14rem;
    margin-left: 1.4rem;
    animation-name: none;
    animation-duration: 0.35s, 0.5s;
    animation-fill-mode: both, forwards;
    animation-timing-function: ease-in-out, ease-in-out;

    .screen--prizes & {
      animation-name: fadeIn, #{$element-name}_slideRight;
    }

    @media (min-width: $stop-scaling) {
      max-width: 140px;
      margin-left: 14px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      max-width: 11rem;
      margin-left: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      max-width: 13rem;
      margin-left: 1rem;
    }
  }

  svg {
    flex: none;
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.3rem;
    margin-left: 1rem;

    @media (min-width: $stop-scaling) {
      width: 10px;
      height: 10px;
      margin-bottom: 3px;
      margin-left: 10px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-left: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

