.result {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 15rem 5.7rem 6rem;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image-wrapper {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 602px;
  margin: auto;
  transition: all 0.35s ease-in-out;
  transition-property: width, height;

  @media (max-width: $mobile) {
    height: 628px;
  }
}

.result__image {
  position: absolute;

  &--flamingo {
    $modifier-name: getClassName(&);

    bottom: -3%;
    left: 18%;
    width: 23%;
    transform: rotate(0deg);
    animation-name: none;
    animation-duration: 0.5s, 1s;
    animation-timing-function: ease-in-out, ease-out;
    animation-delay: 0s, 0.5s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;

    .screen--show & {
      animation-name: #{$modifier-name}_showUp, #{$modifier-name}_wiggle;
    }

    @media (max-width: $mobile) {
      bottom: 13%;
      left: 0;
      width: 41%;
    }

    @keyframes #{$modifier-name}_showUp {
      from {
        bottom: -105%;
        left: 15%;
        transform: rotate(-45deg);
      }
    }

    @keyframes #{$modifier-name}_wiggle {
      to {
        bottom: -9%;
        transform: rotate(-5deg);
      }
    }
  }

  &--suitcase {
    $modifier-name: getClassName(&);

    bottom: -8%;
    left: 34%;
    width: 30%;
    transform: scale(1);
    animation-name: none;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.66, 0.04, 0.11, 1.36);

    .screen--show & {
      animation-name: #{$modifier-name}_growUp;
    }

    @media (max-width: $mobile) {
      bottom: 7%;
      left: 28%;
      width: 53%;
    }

    @keyframes #{$modifier-name}_growUp {
      from {
        bottom: -135%;
        left: 36%;
        transform: scale(0);
      }
    }
  }

  &--leaf-green {
    $modifier-name: getClassName(&);

    bottom: 0;
    left: 44%;
    width: 50%;
    transform: rotate(0);
    transform-origin: 0% 50%;
    animation-name: none;
    animation-duration: 0.5s, 2.5s;
    animation-timing-function: linear, ease-out;
    animation-direction: normal, alternate;

    .screen--show & {
      animation-name: fadeIn, #{$modifier-name}_wiggle;
    }

    @media (max-width: $mobile) {
      bottom: 17%;
      left: 47%;
      width: 85%;
    }

    @keyframes #{$modifier-name}_wiggle {
      15% {
        transform: rotate(15deg);
      }

      25% {
        transform: rotate(0deg);
      }

      45% {
        transform: rotate(10deg);
      }

      65% {
        transform: rotate(0);
      }

      80% {
        transform: rotate(5deg);
      }
    }
  }

  &--leaf-blue-1 {
    $modifier-name: getClassName(&);

    bottom: 8%;
    left: 49%;
    width: 42%;
    transform-origin: 0% 50%;

    .screen--show & {
      animation-name: fadeIn, #{$modifier-name}_wiggle;
    }

    @media (max-width: $mobile) {
      bottom: 28%;
      left: 56%;
      width: 69%;
    }

    @keyframes #{$modifier-name}_wiggle {
      15% {
        transform: rotate(15deg);
      }

      25% {
        transform: rotate(0deg);
      }

      45% {
        transform: rotate(10deg);
      }

      65% {
        transform: rotate(0);
      }

      80% {
        transform: rotate(5deg);
      }
    }
  }

  &--leaf-blue-2 {
    $modifier-name: getClassName(&);

    bottom: -15%;
    left: -1%;
    width: 42%;
    transform-origin: 100% 50%;

    .screen--show & {
      animation-name: fadeIn, #{$modifier-name}_wiggle;
    }

    @media (max-width: $mobile) {
      bottom: 4%;
      left: -30%;
      width: 69%;
    }

    @keyframes #{$modifier-name}_wiggle {
      from {
        transform: rotate(5deg);
      }

      15% {
        transform: rotate(-15deg);
      }

      25% {
        transform: rotate(0deg);
      }

      45% {
        transform: rotate(-10deg);
      }

      65% {
        transform: rotate(0);
      }

      80% {
        transform: rotate(-5deg);
      }
    }
  }

  &--leaf-blue-1,
  &--leaf-blue-2 {
    transform: rotate(0);
    animation-name: none;
    animation-duration: 0.5s, 2.5s;
    animation-timing-function: linear, ease-out;
    animation-direction: normal, alternate;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-linejoin: round;
    stroke-width: 0.2rem;
  }
}

.result__text {
  margin-bottom: 2rem;
  font-family: $font-alt;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.9;
  text-align: center;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result-button {
  $result-button: &;

  @include btn-reset;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  min-width: 34rem;
  margin: auto auto 1rem;

  &:hover {
    #{$result-button}__icon::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    #{$result-button}__icon::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    #{$result-button}__icon {
      color: $c-light;
    }

    #{$result-button}__icon::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }

  @media (min-width: $stop-scaling) {
    min-width: 340px;
    margin: auto auto 10px;
  }

  @media (orientation: portrait) {
    width: 100%;
    min-width: auto;
    margin: auto 0 0;
    transform: none;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 100%;
    min-width: auto;
    margin: auto 0 0;
  }

  &__text {
    font-size: 2.4rem;
    line-height: 1.2;
    color: $c-light;
    text-transform: uppercase;
    animation-duration: 0.35s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    will-change: opacity;

    @media (min-width: $stop-scaling) {
      font-size: 24px;
    }

    @media (orientation: portrait) {
      font-size: 1.6rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      font-size: 1.6rem;
    }

    .screen--show & {
      animation-name: fadeIn;
    }
  }

  &__icon {
    $element-name: getClassName(&);

    position: relative;
    width: 4rem;
    height: 4rem;
    margin-left: 1.5rem;
    color: $c-dark;
    transform: translate3d(5rem, 0, 0);
    animation-duration: 0.15s, 0.55s;
    animation-timing-function: ease-out, linear;
    animation-fill-mode: both, both;
    will-change: opacity, transform;

    @media (min-width: $stop-scaling) {
      width: 40px;
      height: 40px;
      margin-left: 15px;
    }

    &::before {
      @include center;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
    }

    svg {
      @include center;
      width: 2.4rem;
      height: 1.9rem;
      margin-left: 0.3rem;
      animation-name: none;
      animation-duration: 0.55s;
      animation-timing-function: linear;
      animation-fill-mode: both;
      will-change: transform;

      .screen--show & {
        animation-name: fadeIn, #{$element-name}_rotate;
      }

      @media (min-width: $stop-scaling) {
        width: 24px;
        height: 19px;
        margin-left: 3px;
      }
    }

    .screen--show & {
      animation-name: fadeIn, #{$element-name}_translate;
    }

    @keyframes #{$element-name}_translate {
      to {
        transform: translate3d(0, 0, 0);
      }
    }

    @keyframes #{$element-name}_rotate {
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 35rem;
      margin-bottom: 0;
    }
  }
}

.result--negative {
  .result__title {
    width: 66.5rem;
    height: 11.3rem;
    margin-top: 9.5rem;

    @media (min-width: $stop-scaling) {
      width: 665px;
      height: 113px;
      margin-top: 95px;
    }

    @media (orientation: portrait) {
      width: 28.8rem;
      height: 4.9rem;
      margin-top: 0;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 50rem;
      margin-top: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
