.screen {
  $block-name: getClassName(&);
  $screen: &;
  position: absolute;
  top: 0;
  left: 0;
  z-index: initial;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  transition: opacity 0.15s ease-in-out;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    min-height: 100%;
    content: "";
    background-color: $c-dark;
    animation-name: none;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }

  &--hidden {
    display: none;
  }

  &.active.screen--story,
  &.active.screen--game {
    &::after {
      min-height: 0;
    }
  }

  &--has-transition {
    &::after {
      z-index: 5;
      animation-name: #{$block-name}_fill;
    }
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    min-height: calc(var(--vh, 1vh) * 100);
  }

  @media (max-width: $tablet - 1) and (orientation: landscape) {
    height: 100vh;
  }

  @keyframes #{$block-name}_fill {
    from {
      min-height: 0;
    }

    to {
      min-height: 100%;
    }
  }
}

.screen__wrapper {
  @include container;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  animation-name: none;
}

.screen__disclaimer,
.screen__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  animation-name: none;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.screen__disclaimer {
  $element-name: getClassName(&);

  @include slide($dir: down, $value: 15px, $name-prefix: $element-name);
  color: $c-dark;
  background-color: $c-light;

  .is-loaded & {
    animation-name: #{$element-name}_slideDown;
  }
}

.screen__footer {
  $element-name: getClassName(&);

  @include slide($dir: down, $value: 15px, $name-prefix: $element-name);
  color: $c-dark;
  background-color: $c-light;

  .is-loaded & {
    animation-name: #{$element-name}_slideDown;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;

    &.screen__footer--full {
      width: 100%;
      height: 18rem;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;

    &.screen__footer--full {
      width: 100%;
      height: 16rem;
    }
  }
}

.screen__footer-wrapper {
  @include container;

  @media (max-width: $tablet) and (orientation: portrait) {
    opacity: 0;

    .screen__footer--full & {
      opacity: 1;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    opacity: 0;

    .screen__footer--full & {
      opacity: 1;
    }
  }
}

.screen__footer-enlarge {
  @include btn-reset;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-dark;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;

    .screen__footer--full & {
      pointer-events: none;
      opacity: 0;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;

    .screen__footer--full & {
      pointer-events: none;
      opacity: 0;
    }
  }

  svg {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: block;
    width: 1rem;
    height: 1rem;
  }
}

.screen__footer-collapse {
  @include btn-reset;
  position: absolute;
  top: 0.6rem;
  right: 0.3rem;
  z-index: 1;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-dark;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
    pointer-events: none;
    opacity: 0;

    .screen__footer--full & {
      pointer-events: auto;
      opacity: 1;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
    pointer-events: none;
    opacity: 0;

    .screen__footer--full & {
      pointer-events: auto;
      opacity: 1;
    }
  }

  svg {
    @include center;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.screen__footer-announce {
  display: none;
  padding: 3rem 0 0;
  margin-bottom: 1.6rem;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
  }
}

.screen__footer-label {
  margin: 0 0 0.3rem;
  font-size: 1.6rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.screen__footer-date {
  margin: 0;
  font-family: $font-alt;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.9;
}

.screen__footer-note {
  padding: 0.8rem 0;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $stop-scaling) {
    padding: 8px 0;
    font-size: 12px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 0 0 2.5rem;
    font-size: 1.4rem;
    line-height: 1.1;
    text-align: left;
    text-transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0 0 0 2.5rem;
    font-size: 1.4rem;
    line-height: 1.1;
    text-align: left;
    text-transform: none;
  }

  p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  svg {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;

    @media (min-width: $stop-scaling) {
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      display: none;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      display: none;
    }
  }

  span {
    margin-right: 2rem;

    @media (min-width: $stop-scaling) {
      margin-right: 20px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-right: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-right: 0;
    }

    &.on-top {
      display: none;

      // stylelint-disable-next-line max-nesting-depth
      .section-top & {
        display: inline;
      }
    }

    &.on-prizes {
      display: none;

      // stylelint-disable-next-line max-nesting-depth
      .section-prizes & {
        display: inline;
      }
    }
  }
}

.screen--story {
  background-image:
    url("../img/slide1.jpg"),
    url("../img/slide2.jpg"),
    url("../img/slide3.jpg"),
    url("../img/slide4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (orientation: portrait) {
    background-position: top center, bottom center;
    background-size: auto calc(100vh - 13.8rem), 100% 25rem;
  }
}

.screen--game {
  position: relative;

  &::before {
    position: absolute;
    right: -8.5rem;
    bottom: 0;
    width: 32.7rem;
    height: 36.9rem;
    content: "";
    background-image: url("../img/sonya.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include retina {
      background-image: url("../img/sonya@2x.png");
    }

    @media (min-width: $stop-scaling) {
      right: -85px;
      width: 327px;
      height: 369px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      opacity: 0;
    }
  }
}

.screen--result {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;

  &.screen--show {
    pointer-events: auto;
    opacity: 1;
  }
}
