.slider {
  position: relative;
  flex-grow: 1;
  width: 100%;

  .swiper-wrapper {
    box-sizing: border-box;
    min-height: 100vh;

    @media (max-width: $tablet) and (orientation: portrait) {
      min-height: calc(var(--vh, 1vh) * 100);
    }
  }
}

.slider__item {
  $slider-item: &;
  $element-name: getClassName(#{&});

  display: flex;
  flex-direction: column;
  height: auto;
  padding: 14.6rem 4rem 10rem 9.7rem;

  @media (min-width: $stop-scaling) {
    padding: 146px 40px 100px 97px;
  }

  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    padding: 6rem 1rem 3.5rem 3.5rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem 2rem 0 5rem;
  }

  &:nth-child(even) {
    .slider__item-text {
      align-self: flex-end;

      @media (max-width: $mobile) and (orientation: landscape) {
        align-self: flex-start;
      }
    }
  }

  &:nth-child(2) {
    .slider__item-text {
      margin-top: 7.8rem;

      @media (min-width: $stop-scaling) {
        margin-top: 78px;
      }

      @media (orientation: portrait) {
        margin-top: auto;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        margin-top: auto;
      }
    }
  }

  &.swiper-slide {
    @include slide($dir: right, $value: 380px, $name-prefix: $element-name);
    @include slide($dir: down, $value: 50px, $name-prefix: $element-name);

    &-active {
      #{$slider-item}-title {
        animation-name: #{$element-name}_slideDown, fadeIn;
        animation-duration: 0.4s, 0.4s;
        animation-fill-mode: forwards, both;
      }

      #{$slider-item}-text {
        animation-name: #{$element-name}_slideRight, fadeIn;
        animation-duration: 0.4s, 0.4s;
        animation-delay: 0.2s, 0.2s;
        animation-fill-mode: forwards, both;

        @media (max-width: $mobile) {
          animation-name: #{$element-name}_slideDown, fadeIn;
          animation-delay: 0s, 0s;
        }
      }
    }

    &-next {
      #{$slider-item}-text {
        animation-name: #{$element-name}_slideRight, fadeIn;
        animation-duration: 0.4s, 0.4s;
        animation-delay: 0.3s, 0.3s;
        animation-fill-mode: forwards, both;
      }
    }
  }
}

.slider__item-title {
  margin: 0 0 0 -5.5rem;
  font-family: $font-alt;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: -0.04em;

  .word-wrapper {
    margin-top: -2%;
  }

  .letter {
    padding-top: 2%;
    transform: translate3d(0, 110%, 0);
    will-change: transform;
  }

  .screen.active &.active {
    .letter {
      transform: translate3d(0, 0, 0);
    }
  }

  @media (min-width: $stop-scaling) {
    margin-left: -55px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    margin-left: -2.5rem;
    font-size: 3.6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-left: -2.5rem;
    font-size: 3rem;
  }
}

.slider__item-text {
  max-width: 34rem;
  margin-top: 3.6rem;
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 2rem;

  @media (min-width: $stop-scaling) {
    max-width: 340px;
    margin-top: 36px;
    font-size: 18px;
    line-height: 20px;
  }

  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 11.6rem;
    margin-top: auto;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 14rem;
    margin-top: auto;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

.slider__controls {
  position: absolute;
  bottom: 2.8rem;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 17rem;
  transform: translateX(-50%);

  @media (min-width: $stop-scaling) {
    bottom: 28px;
    width: 170px;
  }

  @media (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }
}

.slider__control {
  $element-name: getClassName(&);

  @include btn-reset;
  position: relative;
  width: 4rem;
  height: 4rem;
  color: lightness(var(--active-color), 1.2);
  animation-name: none;
  animation-duration: 0.15s, 0.35s;
  animation-timing-function: ease-out, linear;
  animation-fill-mode: both, both;
  will-change: opacity, left, transform;

  &,
  &.swiper-button-disabled {
    opacity: 0;
  }

  &--prev {
    left: -5rem;
  }

  &--next {
    left: 5rem;
  }

  .screen--story.active & {
    animation-name: fadeIn, #{$element-name}_run;
  }

  .screen--story.active &.swiper-button-disabled {
    animation-name: #{$element-name}_fadeIn, #{$element-name}_run;
  }

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  &::before {
    @include center;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $c-light;
    border: 2px solid $c-light;
    border-radius: 50%;
  }

  svg {
    @include center;
    display: block;
    width: 1rem;
    height: 2rem;
    pointer-events: none;

    @media (min-width: $stop-scaling) {
      width: 10px;
      height: 20px;
    }
  }

  &:hover {
    color: var(--active-color);

    &::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    color: lightness(var(--active-color), 1.2);
    outline: none;

    &::before {
      border-color: lightness(var(--active-color), 1.2);
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: lightness(var(--active-color), 1.2);
      border-color: lightness(var(--active-color), 1.2);
    }
  }

  &.swiper-button-disabled {
    pointer-events: none;
  }

  @keyframes #{$element-name}_run {
    to {
      left: 0;
      transform: rotate(360deg);
    }
  }

  @keyframes #{$element-name}_fadeIn {
    0% {
      opacity: 0;
    }

    66% {
      opacity: 0;
    }

    100% {
      opacity: 0.5;
    }
  }
}

.slider__pagination.swiper-pagination {
  position: absolute;
  bottom: 2.8rem;
  left: 50%;
  width: 9rem;
  height: 4rem;
  font-family: $font-alt;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
  transform: translateX(-50%);
  animation-name: none;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  will-change: opacity;

  .screen--story.active & {
    animation-name: fadeIn;
  }

  @media (min-width: $stop-scaling) {
    bottom: 28px;
    width: 90px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
  }

  @media (orientation: portrait) {
    right: 0;
    bottom: 2.1rem;
    left: 0;
    width: 100%;
    height: 2rem;
    margin: 0;
    transform: none;

    .swiper-pagination-bullet {
      width: 0.4rem;
      height: 0.4rem;
      margin: 0 0.6rem;
      background-color: $c-light;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    right: 0;
    bottom: 2.1rem;
    left: 0;
    width: 100%;
    height: 2rem;
    margin: 0;
    transform: none;

    .swiper-pagination-bullet {
      width: 0.4rem;
      height: 0.4rem;
      margin: 0 0.6rem;
      background-color: $c-light;
    }
  }
}
