.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      pointer-events: auto;
    }
  }
}

.social-block__toggler {
  $element-name: getClassName(#{&});

  @include btn-reset;
  position: relative;
  display: none;
  width: 4rem;
  height: 4rem;
  color: lightness(var(--active-color), 1.2);
  border-radius: 50%;
  transition: $transition;
  transition-property: color;

  .is-loaded & {
    display: block;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $c-light;
    border-color: $c-light;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    transition: $transition;
    transition-property: width, height, border-color, background-color;
    animation-name: #{$element-name}_scaleUp;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-timing-function: cubic-bezier(0.52, -0.11, 0.42, 1.54);
    animation-fill-mode: forwards;

    .is-loaded & {
      animation-play-state: running;
    }
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }

  &:hover,
  .social-block--active & {
    color: var(--active-color);

    &::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    color: lightness(var(--active-color), 1.2);
    outline: none;

    &::before {
      border-color: lightness(var(--active-color), 1.2);
    }

    & + .social-block__list {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: lightness(var(--active-color), 1.2);
      border-color: lightness(var(--active-color), 1.2);
    }
  }

  @keyframes #{$element-name}_scaleUp {
    from {
      transform: translate(-50%, -50%) scale(0);
    }

    85% {
      transform: translate(-50%, -50%) scale(1.15);
    }

    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    pointer-events: auto;
    opacity: 1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    pointer-events: auto;
    opacity: 1;
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    height: 1.5rem;
    content: "";

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    pointer-events: auto;
    opacity: 1;
  }

  &:focus-within {
    pointer-events: auto;
    opacity: 1;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: $transition;
    transition-property: opacity;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }

  .social-block--active & {
    pointer-events: auto;

    @for $i from 1 through 3 {
      li:nth-child(#{$i}) {
        opacity: 1;
        transition-delay: calc(0.05s * #{$i});
      }
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: $transition;
  transition-property: color;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: lightness(var(--active-color), 1.2);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: lightness(var(--active-color), 1.2);
  }

  &:hover {
    color: var(--active-color);
  }

  &:focus {
    color: lightness(var(--active-color), 1.2);
    background-color: $c-light;
    border-color: lightness(var(--active-color), 1.2);
    outline: none;
  }

  &:active,
  &:active:focus {
    color: lightness(var(--active-color), 1.2);
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
