@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin slide($dir, $value, $name-prefix) {
  @keyframes #{$name-prefix}_slide#{capitalize($dir)} {
    from {
      @if $dir == right {
        transform: translateX(#{$value});
        // stylelint-disable-next-line at-rule-empty-line-before, block-closing-brace-newline-after
      } @else if $dir == down {
        transform: translateY(#{$value});
        // stylelint-disable-next-line at-rule-empty-line-before, block-closing-brace-newline-after
      } @else if $dir == left {
        transform: translateX(-#{$value});
        // stylelint-disable-next-line at-rule-empty-line-before, block-closing-brace-newline-after
      } @else if $dir == up {
        transform: translateY(-#{$value});
      }
    }

    to {
      @if $dir == right or $dir == left {
        transform: translateX(0);
        // stylelint-disable-next-line at-rule-empty-line-before, block-closing-brace-newline-after
      } @else if $dir == up or $dir == down {
        transform: translateY(0);
      }
    }
  }
}
